h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 400;
}

p {
    font-weight: 400;
    margin-top: 5px;
}

strong {
    font-weight: 600;
}

html {
    font-family: 'New Times Roman', Times, serif;
    background: #fff;
    color: #000;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}